/* asistencias/static/css/jazzmin_fixes.css */

/* Un look más limpio */
.content-wrapper {
  background: #f5f7fb !important;
}

/* Tabs más claros */
.nav-tabs .nav-link {
  border-radius: 10px 10px 0 0;
  font-weight: 600;
}

/* Botones */
.btn, .btn-primary, .btn-success, .btn-danger, .btn-info {
  border-radius: 12px !important;
}
